body{
    font-family: Arial, sans-serif;    
    padding: 20px;
    text-align: center;
    background-color: #e8e3e3;
    margin: 0 auto;
    max-width: 600 px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.container{
    padding: 60px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 1);
}

h1{
    color:#ad0606;
    margin-bottom: 40px;
}

.score{
    padding: 10px;
    font-size: x-large;
    background-color: rgb(180, 245, 245);
    margin: 20px 50px;
}

button{
    color: maroon;
    border-radius: 12px;
    padding: 10px 20px;
    cursor: pointer;
}

.btn{
    margin: 20px 50px;
    display: flex;
    gap: 25px;
    justify-content: center;
}

.result{
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 20px 50px;
    padding: 15px;
    min-height: 60px;
    background-color: #e9e9e9;
}

.winner{
    margin: 20px 50px;
    padding: 20px;
    border-radius: 15px;
    border: 2px solid #06ad06;
    background-color: #179f30;
    color: #ffffff;
    font-size: xx-large;
}

.loser{
    margin: 20px 50px;
    padding: 20px;
    border-radius: 15px;
    border: 2px solid #ad0606;
    background-color: #dfcdcd;
    color: #ad0606;
    font-size: xx-large;
}